extends default

block content
  div(class='center container-fluid')
    h1() Ask Misty

  div(class='center container-fluid' style='margin-top:30px;')
    p() Misty is a cat that we rescued in the winter of 2022. It was a cold night and it was misting out. Poor baby was so scared but we were eventually able to get her inside, feed her, and give her a loving home. Now she shall be immortalized in this website where she can share her wisdom and inspiration with the world.

  div(class='center container-fluid' style='margin-top:30px;')
    img(src='images/Misty.jpg' class='img-fluid' style='max-width:35%;')

  div(class='d-grid gap-2 col-3 mx-auto' style='margin-top:30px;')
    button(class='btn btn-primary btn-lg' type='button' onclick='seekWisdom()') Seek Wisdom
    button(class='btn btn-primary btn-lg' type='button' onclick='seekInspiration()') Seek Inspiration
    script(src="js/script.js")
  p()
    div(id='winspiration' class='center container-fluid' style='margin-top:30px;')
